h2 {
    text-align: center;
    font-family: arial;
    color: darkorange;
    font-weight: 900;
    font-size: 40px;
}

div {
    margin: 0 auto;
    background: #000;
    width: 400px;
    height: 70px;
}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: darkred;
    text-align: center;
}

img {
    margin: 20px auto;
    display: block;
    height: 300px;
    width: 300px;
}

figcaption {
    text-align: center;
}

body {
    background-color: #c9bfbf;
}

.hire {
    color: black;
    font-size: 20px;
}